<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Burger Queen</title>
    <link rel="stylesheet" href="../../public/assets/css/burger_style.css">
    <link rel="stylesheet" href="https://bootswatch.com/4/cyborg/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1>Burger Queen</h1>
        <div class="text-center">
            <img src="../../public/assets/img/burger.png" alt="burger" height="200px">
        </div>
        <br />
        {{{ body }}}
    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
</body>
</html>